# List :-

In [1]:
list1=['Vansh','Japjot','Tarun','Raksh']
list2=['Sia','Heman','Punit']
list1+list2

['Vansh', 'Japjot', 'Tarun', 'Raksh', 'Sia', 'Heman', 'Punit']

In [2]:
list2.append('Arora')
print(f"Append:{list2}")

Append:['Sia', 'Heman', 'Punit', 'Arora']

In [6]:
list2.insert(1,"Hemanth")
print(f"Insert: {list2}")

Insert: ['Sia', 'Hemanth', 'Heman', 'Punit', 'Arora']

In [7]:
list1.count('Vansh')

1

In [8]:
list1.index('Vansh')

0

In [15]:
list3=list1+list2
print(list3)
list3.sort()
list3

['Vansh', 'Japjot', 'Tarun', 'Raksh', 'Sia', 'Hemanth', 'Heman', 'Punit', 'Arora']

['Arora',
 'Heman',
 'Hemanth',
 'Japjot',
 'Punit',
 'Raksh',
 'Sia',
 'Tarun',
 'Vansh']

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sorted_numbers = sorted(numbers, reverse=True)
filtered_sorted_numbers = [num for num in sorted_numbers if num % 2 == 0]
print(filtered_sorted_numbers)

[8, 6, 4, 2]

In [19]:
fruits = ["apple", "banana", "cherry", "apricot"]
a_fruits = [fruit for fruit in fruits if fruit.startswith('a')]
print(a_fruits) 
fruits.sort()
fruits

['apple', 'apricot']

['apple', 'apricot', 'banana', 'cherry']

In [20]:
fruits = ["apple", "banana", "cherry", "orange"]
long_fruits = [fruit for fruit in fruits if len(fruit) > 5]
print(long_fruits)

['banana', 'cherry', 'orange']

# Tuple:- 
Tuple is an immutable data type.

In [26]:
tuple1=(10,20,30,40,50,60,90)
tuple1[20]=70

TypeError: 'tuple' object does not support item assignment

In [29]:
tuple2=(101,102,103,104)
tuple1+tuple2

(10, 20, 30, 40, 50, 60, 90, 101, 102, 103, 104)

In [30]:
len(tuple1)

7

In [38]:
sorted(tuple1)

[10, 20, 30, 40, 50, 60, 90]

In [40]:
min(tuple1)

10

In [41]:
max(tuple2)

104

In [44]:
num=(45,23,65,84,25,75)
subset_numbers = num[2:5]
print(subset_numbers)

(65, 84, 25)

In [46]:
nested_tuple = ((15,20), (25, 30), (35, 40))
print(nested_tuple)  
first_nested = nested_tuple[0]
print(first_nested)

((15, 20), (25, 30), (35, 40))
(15, 20)

In [47]:
second_element_first_nested = nested_tuple[0][1]
print(second_element_first_nested)

20

In [48]:
subset_numbers = num[3:]
print(subset_numbers)

(84, 25, 75)

# Dictionary:-

In [49]:
dict1={'Vansh':3,'Ram':6,'Gulati':9,'Suhan':4}
dict1

{'Vansh': 3, 'Ram': 6, 'Gulati': 9, 'Suhan': 4}

In [52]:
dict1['Vansh']

3

In [53]:
dict1['Ankur']

KeyError: 'Ankur'

In [55]:
dict1['Suhan']=5
dict1

{'Vansh': 3, 'Ram': 6, 'Gulati': 9, 'Suhan': 5}

In [57]:
dict1['Ankur']=7
dict1

{'Vansh': 3, 'Ram': 6, 'Gulati': 9, 'Suhan': 5, 'Ankur': 7}

In [58]:
len(dict1)

5

In [59]:
dict1.get('Suhan')

5

In [60]:
words = [11, 22, 11, 56 , 1, 10,56]
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{11: 2, 22: 1, 56: 2, 1: 1, 10: 1}

In [61]:
grades = {"O": 100,"A+": 90,"A": 80,"B+": 70,"B": 60}
score = grades["A"]
print(score)

80

In [62]:
data = [('a', 10), ('b', 20), ('a', 30), ('b', 40), ('a', 50), ('c', 60)]
grouped_data = {}

for key, value in data:
    if key not in grouped_data:
        grouped_data[key] = 0
    grouped_data[key] += value

print(grouped_data)

{'a': 90, 'b': 60, 'c': 60}

# Sets :-

In [63]:
fruits = {"apple", "banana", "cherry","papaya","watermelon"}
print(fruits)

{'cherry', 'watermelon', 'apple', 'banana', 'papaya'}

In [65]:
fruits.add("orange")
fruits

{'apple', 'banana', 'cherry', 'orange', 'papaya', 'watermelon'}

In [70]:
set1 = {1,3,5,7,9}
set2 = {2,4,5,6,8}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [71]:
intersection_set = set1 & set2
print(intersection_set)

{5}

In [72]:
difference_set = set1 - set2
print(difference_set)

{1, 3, 9, 7}

In [73]:
numbers = [110,52,441,26,44,5,52]
unique_numbers = list(set(numbers))
print(unique_numbers)

[5, 44, 110, 52, 441, 26]

In [74]:
answer_in={'True','False'}
replies=['True','False','Falue','Error','None','Invalid']
filtered_replies = [replies for replies in replies if replies in answer_in]
print(filtered_replies)

['True', 'False']